@1doc:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-Fz59T39n_B46RGJVvmk1c2M6MQpvOjEKdTpsODAybQ8.01.171ct8t5n

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B298DC1B-8319-4D67-B499-0396EAD12862
